{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>Alway been by computers so might as well make them speak and dance for me.</p>
        <img src="/static/images/me.png" alt="Headshot of myself(Shane)">
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>
            A talented hard working individual. Someone who thrives in chaos and cna channel control when a task is at hand. I analyze multiple scenarios and choose the best option when a problem is present.
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {% for project in projects %}
                <div id="{{project.id}}" class="a-project">
                    <a href="{{ url_for('detail', id=project.id) }}"><h3>{{project.title}}</h3></a>
                    <a href="{{project.link}}" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{project.description}} 
                    </p>
                    <p>
                        Skills: {{project.skills}}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            I can be reached Monday-Thrusday 9am-8pm as well as Fridays and Saturdays 9am-5pm. Please do feel free to email me or give me a call. If I do not pick up, leave a voicemail and I'll return your call as soon as possible.
        </p>
        <p>
            <i class="fas fa-phone"></i>
            214-326-5191
            <i class="fas fa-envelope"></i>
            shanep04@hotmail.com
        </p>
    </section>
{% endblock %}